*{
    box-sizing: border-box;
}

.text-green{
    color: green;

}


.landing-photo{
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-image: url("img/img.png");
}

.center-label{
    text-align: center;
    
}

@media screen and (max-width: 576px){
    div.text-light:nth-child(3){
        color: #ff0000;
    }
}

body{
    margin-right: 0;

}

.h100{
    /* width: 100vh; */
    height: 100vh;

}
.w100{
    width: 100vw;
}


#suc-reg{
    position: relative;
}
